[Locations]
# Path to loadout config. Can use relative path from here.
looks_config = C:\Users\jonat\GigaLearnCPP-Leak\rlbot\appearance.cfg

# Path to python file. Can use relative path from here.
python_file = C:\Users\jonat\GigaLearnCPP-Leak\rlbot\CppPythonAgent.py

# Name of the bot in-game
name = Yxllowtechlargemodel

# Set path to your bot exe here
[Bot Parameters]
cpp_executable_path = C:\Users\jonat\GigaLearnCPP-Leak\out\build\x64-Debug-RelWithDebug\rlbot.exe